python-dotenv
langchain
langchain-openai
langchain-community
langchain-chroma
chromadb
openai
pypdf
streamlit
langchain
langchain-community
langchain-text-splitters
langchain-chroma
langchain-huggingface
chromadb
sentence-transformers
huggingface-hub
python-dotenv
streamlit
langchain
langchain-community
langchain-text-splitters
langchain-chroma
langchain-huggingface
langchain-google-genai
chromadb
sentence-transformers
huggingface-hub
python-dotenv